![rmotr](https://i.imgur.com/jiPp4hj.png)
<hr style="margin-bottom: 40px;">

<div style="position: relative;">
    <img src="https://archive.ics.uci.edu/ml/assets/MLimages/Large2.jpg"
        style="float: right; margin: 0 40px 40px 40px;"></img>

    <h1>
        Project assignment: US Census Analysis
    </h1>

    <p>We will be working with an extraction of data done by Barry Becker from the 1994 Census database.</p>
</div>

<i>
> Dataset source: https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data <br>
> Dataset description: https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
</i>

### Dataset attribute information

- **age**: continuous.
- **workclass**: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- **fnlwgt**: continuous, sampling weight of the person.
- **education**: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- **education-num**: continuous.
- **marital-status**: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- **occupation**: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- **relationship**: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- **race**: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- **sex**: Female, Male.
- **capital-gain**: continuous, income from investment sources, apart from wages/salary.
- **capital-loss**: continuous, losses from investment sources, apart from wages/salary.
- **hours-per-week**: continuous.
- **native-country**: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
- **income**: continuous.

![separator2](https://i.imgur.com/4gX5WFr.png)

### Hands on! 

On that section you will analyze the dataset.

In [1]:
import pandas as pd

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Load the dataset **adult.csv** as a Pandas dataframe on a variable called **adult**.
        </td>
    </tr>
</table>

> ⚠️ <i>Be aware of how the data is separated (space + comma) and if has header, use the `engine='python'` param.</i>

In [2]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Update the column names of the dataframe with the attribute names.
        </td>
    </tr>
</table>

In [3]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Check if there is any null value on the dataframe.
        </td>
    </tr>
</table>

> ⚠️ <i>Sometimes null values are represented by special characters, check unique values to find them</i>

In [4]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Remove the rows that contains any null value.
        </td>
    </tr>
</table>

In [5]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Check the percentage of each value of each <b>categorical column</b>.
        </td>
    </tr>
</table>

In [6]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Analyze <b>basic descriptive statistics</b> and <b>correlations</b> of numerical columns.
        </td>
    </tr>
</table>

In [7]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Which are the max correlation of each variable?
        </td>
    </tr>
</table>

> ⚠️ <i>Be aware of removing main diagonal 1.0 values before checking max values.</i>

In [8]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            List people that work more than 20 hours per week. How many are?
        </td>
    </tr>
</table>

In [9]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            How many men and women are? Show totals and proportion over all the data.
        </td>
    </tr>
</table>

In [10]:
# Your code goes here

![separator2](https://i.imgur.com/4gX5WFr.png)

### Basic visualizations

On that section you will plot some basic visualizations of the data.

In [11]:
%matplotlib inline
import matplotlib.pyplot as plt

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Show a <b>histogram</b> of <b>hours_per_week</b> numerical column.
        </td>
    </tr>
</table>

In [12]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Show a <b>histogram</b> of <b>occupation</b> categorical column.
        </td>
    </tr>
</table>

> ⚠️ <i>To plot an histogram of a categorical column you should first count the column value ocurrences.</i>

In [13]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Show a <b>barplot</b> of the mean of <b>hours-per-week</b> per <b>occupation</b>.
        </td>
    </tr>
</table>

In [14]:
# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

<table style="width: 100%">
    <tr>
        <td width="80"><img src="https://i.imgur.com/skQuxIq.png"></td>
        <td style="font-size: 14px; text-align: left">
            Show a <b>boxplot</b> of <b>hours per week</b> numerical column.
        </td>
    </tr>
</table>

In [15]:
# Your code goes here

![separator2](https://i.imgur.com/4gX5WFr.png)